<div id="<%= dom_id pin %>">
  <p>
    <strong>Title:</strong>
    <%= pin.title %>
  </p>

  <%= pin.body %>
  <br />
  <%= pin.image %>
  <hr />
  <%= pin.pictures.each do |picture| %>
    <%= picture %>
  <% end %>

</div>
